body {
  padding: 30px;
}

.flash-card {
    margin-bottom: 20px;
}

#termBox, #definitionBox {
    font-size: 1.4rem;
    padding: 20px;
    border-radius: 8px;
}

#termBox {
  background: #e3f2fd;
}

#definitionBox {
  background: #fff3cd;
  margin-top: 15px;
  display: none;
}

#cardList {
    margin-top: 30px;
}

.mode-section {
    margin-top: 25px;
}


/* Top banner using your image */
.top-banner {
    width: 100%;
    height: 230px;
    background-image: url('Bander.jpg');
    /* Replace with your image file */
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}
